@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary: white;
    --tw-bg-opacity: 1;
    --secondary : rgb(15 23 42 / var(--tw-bg-opacity));
    
  }
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  *::-webkit-scrollbar {
    width: 0.3em;
    height:.5rem;
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  } 